/* Header Nav */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body {
  font-family: 'Source Code Pro', monospace;
}

header {
  text-align: center;
  padding: 20px;
}

header nav {
  overflow: hidden;
  font-weight: bold;
}

header nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav a:hover {
  background-color: #ddd;
  color: black;
}

header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

main, footer {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: small;
}