/* Header Nav */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'socials1 main socials2'
    'footer footer footer';
  grid-template-columns: 380px auto 380px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
  color: black;
}

a, a:visited {
  color: #55F;
}

.socials2,
.socials1,
main,
.newsheadings {
  padding: 10px;
}

/* Style the left column */
.socials1 {
  grid-area: socials1;
}

.socials2 {
  grid-area: socials2;
}

/* Style the middle column */
main {
  grid-area: main;
}

/* Style the footer */
.footer {
  grid-area: footer;
}

header {
  grid-area: header;
  text-align: center;
  padding: 20px;
}

header nav {
  overflow: hidden;
  font-weight: bold;
}

header nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 .25em;
}

header nav li a {
  padding: .25em .5em;
  border-radius: .25em;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

main,
footer {
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.newslist {
  font-size: smaller;
}

h2 {
  padding-top: 10pt;
  border-top: solid 1px #ccc;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 20px;
  font-size: small;
}

@media (max-width: 1200px) {
  body {
    grid-template-areas:
      'header header header'
      'main main socials1'
      'main main socials2'
      'footer footer footer'
  }

  @media (max-width: 800px) {
    body {
      grid-template-areas:
        'header'
        'main'
        'footer'
        'socials1'
        'socials2';
      grid-template-columns: auto;
    }
  }
}