<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
	<p><img src="/static/img/logo.jpg"></img></p>
      <h1 className="title">{{ metadata.title }}</h1>
			<em>
				
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
