---
layout: layouts/base.njk
section: news
permalink: /news/index.html
---

{{ layoutContent | safe }}

<section class="newslist">
<h2>{{ title }}</h2>

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

</section